:root {
    --base-background-color: #1b1718;
    --header-color: #1b191a;
    --border-color: #211e1e;
    --button-color: #232121;
    --icon-color: #818181;
    --text-editor-background: #161415;
    --foreground-color: #bbbbbb;
    --secondary-color: #151314;
    --code-block-color: #211D1E;
    --highlight-color: #251719;
    --accent-color: #4c9697;
    --info-foreground: #86a4ab;
    --diff-modified: #1A233D;
    --diff-inserted: #142D14;
    --diff-conflict: #422121;
    --diff-deleted: #242424;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    height: 100%;
    width: 100%;
}
